
body{

    background-color:#CABFAB;

    font-family: sans-serif;

}



.body{

    float: right;

    margin-left: 100px;

    margin-top: 100px;

    color: #52575D;

    background-image: url(.png);

    background-repeat: no-repeat;

    background-position: right top;

   

}




.header{

    color: white;

    text-align: right;

}





 a{



    text-decoration: none;

    float: right;

    margin: 0 15px;

    padding: 05px;

    color: #52575D;

    font-size: 20px;



}



 a:hover{

    color: black;

    position: static;

    cursor: pointer;



}



p{

    font-size: 20px;

    width: 40%;

   font-family: sans-serif;



   

}



h1{

    margin: 5px 0 ;

    font-weight: bold;

    font-size: 80px;

    color: black;

}

.pogi{

    font-weight: bold;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    

    

}
.pogi1{

    font-weight: bold;
    text-transform: uppercase;
    color: black;
   
    

    

    

}

a {
    letter-spacing: 0;
}

a:hover,
a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
